streamlit
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
langchain-text-splitters
chromadb
sentence-transformers
newspaper3k
tiktoken
python-dotenv
lxml_html_clean